<!--
    card-id = "card1"
    card-title = "Title 1"
    card-image = "https://images.pexels.com/photos/63324/california-road-highway-mountains-63324.jpeg?auto=compress&cs=tinysrgb&h=350"
    card-image-alt = "Alt 1"
    card-text = "Example text 1"
    card-button-text = "Click 1"
-->

<div class="card">
  <img class="card-img-top" src="{{card-image}}" alt="{{card-image-alt}}">
  <div class="card-body">
    <h4 class="card-title">{{card-title}}</h4>
    <p class="card-text">{{card-text}}</p>
    <a href="#" id="{{card-id}}" class="btn btn-primary">{{card-button-text}}</a>
  </div>
</div>